* { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

li{

    display: inline-block;
    width: 20%;
    padding-top: 3rem;
    
}
a{

    color: black;
}

body{
    background-color: #D3D3D3;
}