$textColor:#eee;
$textColorHover:#fff;
$backColor:#666;
$backColorElementListHover:#888;

@mixin colors {
    
    color: $textColor;
    background-color: $backColor;
}

@mixin colorHover($color,$back){

    &:hover{

        color:$color;
        background-color: $back;
    }
}

@mixin changeBoxSizing($size) {
    
    -webkit-box-sizing: $size;
    -moz-box-sizing: $size;
    -moz-box-sizing: $size;
    box-sizing: $size;
}

@mixin transition($property,$duration,$timing:linear){

    transition: $property $duration $timing;
}

@mixin animation($name,$duration,$timing:linear){

    transition: $property $duration $timing;
}


@import "_menu";