.verde{

    background-color: green;
    height: 160px;
    
}

.rojo{

    background-color: red;
    border: 3px solid white;
}

.verde-mini{

    background-color: green;
    height: 80px;
    
}

.rosa{

    background-color: palevioletred;
    height: 80px;
    border: 3px solid white;
}

.carne{

    background-color: lightsalmon;
    height: 200px;
    border: 3px solid white;
}

.azul{

    background-color: blue;
    height: 140px;
    border: 3px solid white;
}